# Entorno virtual
backend/venv/
venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
backend/app/**/__pycache__/

# Archivos temporales
*.tmp
*.temp
*.log

# Configuración privada
.env

# Archivos generados por SQLite
*.db-journal
*.sqlite-journal
*.sqlite3-journal

# Archivos de sistema
.DS_Store
Thumbs.db